@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48, 23%, 91%;
    --foreground: 222.2 84% 4.9%;

    --box-shadow: 0, 0, 0, 0.2;

    --text: #000000;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --slider: 60, 2%, 16%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --gradient-top: linear-gradient(0deg, #ffffff 0%, #f0ebe3 100%);
    --gradient-center: linear-gradient(180deg, #f0ebe3 0%, #f0ebe3 100%);
    --gradient-bottom: linear-gradient(180deg, #ffffff 0%, #f0ebe3 100%);
  }

  .dark {
    --background: 225, 14%, 17%;
    --foreground: 210 40% 98%;

    --card: 228, 14%, 14%;
    --card-foreground: 210 40% 98%;
    --text: #ffffff;
    --slider: 225, 3%, 74%;

    --box-shadow: 255, 255, 255, 0.1;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --gradient-top: linear-gradient(0deg, #31363c 0%, #222831 100%);
    --gradient-center: linear-gradient(180deg, #222831 0%, #222831 100%);
    --gradient-bottom: linear-gradient(180deg, #31363c 0%, #222831 100%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  section {
    @apply w-full bg-transparent;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-card;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-mainGreen;
    @apply rounded-sm;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

html {
 scroll-behavior: smooth;
}

.title {
  line-height: 1.2;
  color: #fff;
  font-weight: 700;
  margin: 15px 0 0 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-shadow:
    2px 2px #000,
    -2px 2px #000,
    2px -2px #000,
    -2px -2px #000,
    5px 5px 0px rgba(0, 0, 0, 0.2);
}
